[submodule "LAB_8"]
	path = LAB_8
	url = https://github.com/proooooogiba/LAB_8.git
[submodule "LAB_9"]
	path = LAB_9
	url = https://github.com/proooooogiba/LAB_8.git
	branch = LAB_9
[submodule "LAB_11"]
	path = LAB_11
	url = https://github.com/proooooogiba/Rails.git
	branch = LAB_11_1
[submodule "LAB_12"]
	path = LAB_12
	url = https://github.com/proooooogiba/Rails.git
	branch = LAB_12_1
