* {
    box-sizing: border-box;
}
.table {
    display: inline-block;
    box-sizing: border-box;
    border: 3px solid rgba(149, 19, 178, 0.585);
    border-radius: 5px;
    width: 70%;
    margin: 10px 10px 10px 20px;
}

.row {
    box-sizing: border-box;
    vertical-align: top;
    -webkit-box-align: center;
    background-color: white;
    border-top: 3px solid rgba(149, 19, 178, 0.585);
    width: 100%;
    clear: both;
    margin-left: -1px;
}

.row:first-child {
    border-top: none;
}

.row:nth-child(3) {
    border-top: none;
}

.row:nth-child(5) {
    border-top: none;
}

.row:last-child {
    border-bottom: none;
}

.col{
    float: left;
    box-sizing: border-box;
    background-color: rgba(42, 93, 165, 0.397);
    width: 25%;
    padding: 5px 5px 5px 5px;
    border-left: 2px solid rgba(149, 19, 178, 0.585);
    overflow: hidden; 
    white-space: nowrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;                
}

.col:first-child {
    border-left: none;
    background-color: rgba(165, 42, 42, 0.397);
}

.col:nth-child(2) {
    background-color: rgba(42, 93, 165, 0.397);
}
.col:nth-child(3) {
    background-color: rgba(42, 165, 42, 0.397);
}
.col:nth-child(4) {
    background-color: rgba(240, 228, 6, 0.397);
}
