form {
    box-sizing: border-box;
    border: 1px solid rgb(9, 16, 80);
    border-radius: 8px;
    border-collapse: collapse;
    text-align: center;
    padding: 8px;
    margin:5% 30% 5% 30%;
    width: 40%;
    align-items: center;
    align-self: center;
    background: -webkit-repeating-radial-gradient(rgba(244, 158, 158, 0.358), rgba(101, 170, 138, 0.253));
    user-select: none;
}

input[type=text] {
    width: 60%;
    padding: 2px 10px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: 0.5s;
    outline: none;
}

input[type=file] {
    width: 60%;
    margin: 4px 0;
    box-sizing: border-box;
    transition: 0.5s;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 5px;
    align-self: center;
}

input[type=submit] {
    background: -webkit-repeating-radial-gradient(rgba(244, 158, 158, 0.358), rgba(101, 170, 138, 0.253));
    color: white;
    padding: 14px 60px;
    margin: 8px 2px 8px 2px;
    border-radius: 4px;
    border: 1px solid rgba(9, 36, 80, 0.018);
    cursor: pointer;
    align-self: center;
    outline: 3px solid rgb(9, 185, 188);
}

input[type=submit]:hover {
    background: repeating-linear-gradient(rgba(3, 98, 41, 0.132), rgba(19, 156, 1, 0.219));
}

input[type=password] {
    width: 60%;
    padding: 2px 10px;
    margin: 4px 0;
    box-sizing: border-box;
    transition: 0.5s;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 5px;
}
body {
    background: -webkit-repeating-radial-gradient(rgba(18, 216, 176, 0.241), rgba(44, 192, 18, 0.038));
    margin-bottom: 40px;
}

html {
    position: relative;
    min-height: 100%;
}

main {
    margin-top: 15px;
}

footer {
    height: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.my-primary {
    background-color: #00683965;
    color: white;
    border-radius: 10px;
    border: 5px solid rgba(9, 36, 80, 0.018);
}

.title {
    user-select: none;
    font-size: 30px;
    font-weight: bold;
    margin: 40px 20px 20px 0px;
    padding: 20px 5px 5px 5px;
    line-height: 30px;
    color: rgb(0, 0, 0);
}

.HTTP {
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    color: rgba(119, 16, 16, 0.424);
}

.math {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 10px 10px 10px 20px;
    color: aqua;
}

#server_response {
    font-size: 20px;
    font-weight: lighter;
    margin: 0px 0px 0px 20px;
    padding: 5px 5px 5px 5px;
    color: rgba(0, 89, 89, 0.514);
}

.paragraph {
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 5px 5px 5px 5px;
    color: rgb(0, 0, 0);
}

.numbers {
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgba(37, 6, 1, 0.397);
}

.paragraph2 {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 10px 10px 10px 20px;
    color: rgb(17, 92, 49);
}

.info {
    display: inline-block;
    font-weight: bold;
    margin: 0;
    padding: 5px 5px 5px 5px;
    font-style: italic;
}

.column {
    display: inline-table;
    width: 40%;
}

code {
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: left;
    box-sizing: border-box;
}

pre {
    padding-left: 20px;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: left;
    border: 4px solid rgba(78, 1, 89, 0.363);
}


#include {
    display: inline-block;
    font-size: 16px;
    font-weight: lighter;
    margin: 0;
    color: rgba(221, 13, 13, 0.489);
}

#std {
    display: inline-block;
    font-size: 16px;
    font-weight:bold;
    margin: 0;
    color: rgba(20, 13, 221, 0.477);
}

#hellow {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: rgba(10, 64, 17, 0.353);
}

.footer-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: lighter;
    margin: 0;
    padding: 5px 5px 5px 5px;
    color: rgb(244, 247, 237);
}

table {
    box-sizing: border-box;
    border-collapse: collapse;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border: 3px solid rgba(0, 0, 0, 0.397);
    font-family: monospace;
    color:rgb(10, 64, 17);
}

tr {
    box-sizing: border-box;
    border-collapse: collapse;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border: 3px solid rgba(0, 0, 0, 0.397);
    font-family: monospace;
    color:rgb(10, 64, 17);
    
}
th, td {
    border: 3px solid rgba(0, 0, 0, 0.397);
    border-collapse: collapse;
    text-align: left;
    padding: 8px;
    font-size: 16px;
}

.form-control {
    background-color: rgba(38, 78, 153, 0.161);
}

.table {
    border: 2px solid rgba(104, 23, 23, 0.397);
    border-radius: 20px;
}
