body {
    background:linear-gradient(110deg, #d77596 10%, #b00202 84%);
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}