.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: inherit;
}

.pagination {
    justify-content: center;
    margin-top: 60px;
}

.print {
    position: relative;
}

.card {
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 2%;
    margin-right: 2%;
}

#accordionExample {
    display: inline-table;
    margin-left: 2%;
    margin-right: 2%;
}

#new::marker {
    content: "-";
}